.titulo {
    text-align: center;
    color: orangered;
    font-size: 42px;
}

.img_info{
    display: none;
    position: absolute;
    border: 3px solid black;
    cursor: pointer;
    z-index:1;
}

.img_info2{
    margin-left: 600px;
    display: none;
    position: absolute;
    border: 3px solid black;
    cursor: pointer;
    z-index:1;
}

.grid {
    padding: 60px;
    justify-content: center;
    display: grid;
    width: 90%;
    min-height: 120px;
    grid-template-columns: 200px 200px 200px 200px;
}

.Estilo-btn{
 display: flex;
justify-content: space-around;

}

.estilo{
    background-color: black;
    border: 6px solid yellow;
    border-radius: 6px;
    color: orangered;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-align: center;
}

.estilo:hover{
    font-size: 30px;
    cursor: pointer;
}

.card {
    width: 140px;
    height: 160px;
    background-color: red;
    border: 1px solid black;
    border-radius: 9px;
    text-align: center;
}

.card:hover {
    border: 4px solid rgb(214, 211, 13);
    cursor: pointer;
    width: 150px;
    height: 180px;
}

.active {
    border: 9px solid rgb(214, 211, 13);
    width: 150px;
    height: 180px;
}


.modal {
    display: none;
    text-align: center;
    position: absolute;
    padding-left: 400px;

}


.carrocel{
    display: none;
    border: 4px solid rgb(214, 211, 13);
    margin-left: 700px;
    width: 180px;
    height: 250px;
    overflow: hidden;
}

.container{
  display: flex;
  transition: transform 0.5 ease-in-out;
  transform: translateX(0);
}
