.titulo {
    text-align: center;
    color: orangered;
    font-size: 42px;
}

#Fire{
    background-image:url("img/chama.jpg")
}

#Earth{
    background-image:url("img/terra.jpg")
}

#Water{
    background-image:url("img/agua.jpg")
}

.grid {
    justify-content: center;
    display: grid;
    width: 90%;
    min-height: 120px;
    padding: 20px;
    grid-template-columns: 200px 200px 200px 200px;
}

.Estilo-btn{
 display: flex;
 justify-content: space-around;

}

.estilo{

    font-family: cursive;
    text-align: center;
    border: 6px solid rgb(211, 92, 12);
    font-size: 20px;
    color: aliceblue;
    width: 160px;
    height: 80px;
    border-radius: 9px;
  
}

.estilo:hover{
    background-color: brown;
    font-size: 22px;
    cursor: pointer;
}

.card {
    display: none;
    width: 120px;
    height: 120px;
    background-color: red;
    border: 1px solid black;
    border-radius: 9px;
    text-align: center;
}

.card:hover {
    border: 9px solid rgb(214, 211, 13);
    cursor: pointer;
    width: 140px;
    height: 140px;
}

.active {
    border: 9px solid rgb(214, 211, 13);
    width: 140px;
    height: 140px;
}


.modal {
    display: none;
    text-align: center;

}
